@{
    ViewBag.Title = "Create treatment";
}

<h2>Create treatment</h2>

<form method="post">
    <label>Company ID:</label>
    <input type="number" placeholder="Company ID" min="0" name="companyID" />
    <br />

    <label>Name:</label>
    <input type="text" placeholder="Name" min="0" name="name" />
    <br />

    <label>Description:</label>
    <input type="text" placeholder="Description" min="0" name="description" />
    <br />

    <label>Treatment duration:</label>
    <input type="number" placeholder="Duration" min="0" name="duration" />
    <br />

    <label>Treatment price:</label>
    <input type="number" placeholder="Price" min="0" name="price" step="0.01" pattern="^\d+(?:\.\d{1,2})?$" />
    <br />

    <label>Treatment Category ID:</label>
    <input type="text" placeholder="Category ID" min="0" name="treatmentCategoryID" />
    <br />


    <input type="submit" />
</form>

