@{
    ViewBag.Title = "Create treatment";
}

<h2>Create treatment</h2>

<form method="post">
    <label>Virksomhed ID:</label>
    <input type="number" placeholder="Virksomhed ID" min="0" name="companyID" />
    <br />

    <label>Navn:</label>
    <input type="text" placeholder="Navn" min="0" name="name" />
    <br />

    <label>Beskrivelse:</label>
    <input type="text" placeholder="Beskrivelse" min="0" name="description" />
    <br />

    <label>Behandlingsvarighed:</label>
    <input type="number" placeholder="Varighed" min="0" name="duration" />
    <br />

    <label>Behandlingspris:</label>
    <input type="number" placeholder="Pris" min="0" name="price" step="0.01" pattern="^\d+(?:\.\d{1,2})?$" />
    <br />

    <label>Behandlingskategori ID:</label>
    <input type="text" placeholder="Kategori ID" min="0" name="treatmentCategoryID" />
    <br />


    <input type="submit" />
</form>

