@{
    ViewBag.Title = "Create treatment";
}

<h2>Opret behandling</h2>

<form method="post">
    <label>Virksomhed ID:</label>
    <input type="number" placeholder="Virksomhed ID" min="0" name="companyID" required />
    <br />

    <label>Navn:</label>
    <input type="text" placeholder="Navn" min="0" name="name" required />
    <br />

    <label>Beskrivelse:</label>
    <input type="text" placeholder="Beskrivelse" min="0" name="description" />
    <br />
    
    <label>Behandlingsvarighed:</label>
    <select name="duration">
        @for(int i = 30; i <= 120; i += 30)
        {
            <option value="@i">@i minutter</option>
        }
    </select>
    <br />

    <label>Behandlingspris:</label>
    <input type="number" placeholder="Pris" min="0" name="price" step="0.01" pattern="^\d+(?:\.\d{1,2})?$" required />
    <br />

    <label>Behandlingskategori ID:</label>
    <input type="text" placeholder="Kategori ID" min="0" name="treatmentCategoryID" required />
    <br />


    <input type="submit" value="Opret" />
</form>

