
@using DataAccess.DatabaseAccess;
@{
    ViewBag.Title = "Create";

    var dbTreatmentInstance = new DbTreatment();
}

<h2>Create</h2>

<form method="post">
    <label>Company ID:</label>
    <input type="number" placeholder="Company ID" min="0" name="companyID"/>
    <br />

    <label>Treatment ID:</label>
    <input type="number" placeholder="Treatment ID" min="0" name="treatmentID"/>
    <br />

    <label>Customer ID:</label>
    <input type="number" placeholder="Customer ID" min="0" name="customerID"/>
    <br />

    <label>Employee ID:</label>
    <input type="number" placeholder="Employee ID" min="0" name="employeeID"/>
    <br />

    <label>Treatment start time:</label>
    <input type="date" name="appointment_date"/>
    <input type="time" name="appointment_time"/>
    <br />

    <input type="submit" />
</form>