
@using DataAccess.DatabaseAccess;
@{
    ViewBag.Title = "Create reservation";

    var dbTreatmentInstance = new DbTreatment();
}

<h2>Create reservation</h2>

<form method="post">
    <label>Behandling ID:</label>
    <input type="number" placeholder="Behandling ID" min="0" name="treatmentID" />
    <br />

    <label>Kunde ID:</label>
    <input type="number" placeholder="Kunde ID" min="0" name="customerID" />
    <br />

    <label>Medarbejder ID:</label>
    <input type="number" placeholder="MEdarbejdee ID" min="0" name="employeeID" />
    <br />

    <label>Starttidspunkt:</label>
    <input type="date" name="appointment_date" />
    <input type="time" name="appointment_time" />
    <br />

    <input type="submit" />
</form>