
@using DataAccess.DatabaseAccess;
@{
    ViewBag.Title = "Create reservation";

    var dbTreatmentInstance = new DbTreatment();
}

<h2>Opret reservation</h2>

<form method="post">
    <label>Behandling ID:</label>
    <input type="number" placeholder="Behandling ID" min="0" name="treatmentID" required/>
    <br />

    <label>Kunde ID:</label>
    <input type="number" placeholder="Kunde ID" min="0" name="customerID" required/>
    <br />

    <label>Medarbejder ID:</label>
    <input type="number" placeholder="Medarbejder ID" min="0" name="employeeID" required/>
    <br />

    <label>Starttidspunkt:</label>
    <input type="date" name="appointment_date" required/>
    <select name="appointment_time">
        @for (int i = 6; i <= 19; i++)
        {
            <option value="@i:00">@i:00</option>
            <option value="@i:30">@i:30</option>
        }
    </select>

    <!--
    <input type="time" name="appointment_time" />
    <br />
    -->
    <input type="submit" value="Opret"/>
</form>