
@{
    ViewBag.Title = "Your tasks";
}

<h2>Find reservationer for Employee</h2>

<form method="get" action="/Reservation/EmployeeReservationsResult">
    <label>Employee ID:</label>
    <input type="number" placeholder="Employee ID" min="0" name="employeeID" />
    <input type="submit" />
</form>