
@{
    ViewBag.Title = "Your tasks";
}

<h2>Find reservationer for Employee</h2>

<form method="get" action="/Employee/EmployeeReservationsResult">
    <label>Medarbejder ID:</label>
    <input type="number" placeholder="Medarbejder ID" min="0" name="employeeID" />
    <input type="submit" />
</form>