@{
    ViewBag.Title = "Startside";
}

<div class="jumbotron">
    <h1>Booking4You</h1>
    <p class="lead">Booking4You er for dig som gerne vil finde det perfekte sted at få lavet din behandling.</p>
    <p><a href="/Treatment/Index" class="btn btn-primary btn-lg">Klik her..</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Opret en ny behandling</h2>
        <p>
            Her kan du oprette en ny behandling til din virksomhed,
            så kunder kan få lov til booke sig ind på.
        </p>
        <p><a class="btn btn-default" href="/Treatment/Create">Klik her...</a></p>
    </div>
    <div class="col-md-4">
        <h2>Tjek dine medarbejders aftaler</h2>
        <p>På denne side kan du tjekke dine medarbejders aftaler ved at søge på deres ID.</p>
        <p><a class="btn btn-default" href="/Employee">Klik her...</a></p>
    </div>
    <div class="col-md-4">
        <h2>Opret ny reservation</h2>
        <p>Skal ud have booket en tid til din behandling? Så klik her, så kan du oprette en reservation, som passer din kalender.</p>
        <p><a class="btn btn-default" href="/Reservation/Create">Klik her...</a></p>
    </div>
</div>